*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --ff1: "League Spartan", sans-serif;
  --sfs: 1.5rem; /* standard font size*/
  --white: hsl(0, 0%, 100%); /*back+text white*/
  --dpt: #512051; /* dark purple text*/
  --lpt: #927b91; /* light purple text*/
  --spt: hsl(333, 80%, 67%); /* soft pink text*/
  --dgt: #937b92; /*spec --text below 10 000?*/
  --rbc: #f7f2f7; /*review background color*/
  --out: 1px solid black; /*use for outline*/
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--rbc);
  font-family: var(--ff1);
  font-size: 1.6rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* * end of the reset*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* *Universal Styles */
/* This area is mainly used for 
colors, padding, fonts etc which
are used in both the mobile and the 
desktop area.*/

.desk > .description > h2,
.desk > .description > p {
  /* font-family: var(--ff1); */
}
.top-left {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.bot-right {
  position: fixed;
  z-index: -1;
  width: 1085px; 
  height: 673px;
  bottom: 0;
  right: 0;
}

/* * the following is for the 
* picture in the bottom right, 
* we need to use the picture element 
* do this successfully, 
* include it in a footer, inside
* the body but outside the main.*/

.description > h2 {
  /* max-width: 320px; */
  font-weight: 700;
  font-size: clamp(2.5rem, calc(2.5rem + 1vw), 3.2rem);
  line-height: 40px;
  letter-spacing: -1.43px;
  color: var(--dpt);
}

.description > h2,
.description > p {
  text-align: center;
}

.desk > .description > p {
  color: var(--lpt);
  margin: 17px 24px 0px 17px;
  font-family: var(--ff1);
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.6333333253860474px;
  text-align: center;
}

.box {
  background-color: #512051;
  height: 234px;
  width: 350px;
}

.review-area {
  margin: 39px 24px 49px 24px;
  display: flex;
  flex-flow: row wrap;
  align-items: center; 
  justify-content: center;
  gap: 14px;
}

.starlight {
  height: 5.6rem;
  width: 45rem;
  flex-direction: row;
}

.starlight {
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  background-color: #ebd8dd;
  height: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starlight > p {
  font-family: League Spartan;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--dpt);
}

.stars > .fa {
  margin-left: 14px;
  width: 16px;
  height: 15px;
  color: #ef9546;
  top: 0px;
  border-radius: 0px;
}

.box {
  padding: 28px; 
  border-radius: 10px; 
  overflow: hidden;
}

.box-head {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.name {
  padding-left: 2rem;
}

.box-head > .name > h3 {
  font-size: 17px; 
  color: var(--white);
  line-height: 15px; 
  font-weight: 700;
}

.box-head > .name > h4 {
  font-size: 17px;
  font-weight: 400;
  color: var(--spt);
  line-height: 15px; 
  margin-top: 0.5rem;
}

.box > p {
  font-family: var(--ff1);
  font-size: 15px;
  color: var(--white);
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.3035714328289032px;
  text-align: left;
  
}

.selfie > img {
  border-radius: 50%;
  margin-left: 0.5rem;
}
/* *Mobile Layout Area */

@media only screen and (max-width: 1200px) {
  .central-grid {
    margin: 0 auto;
    min-width: 300px;
    width: 95%;
  }

  .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-width: 300px;
    padding-top: 62px;
  }

  .personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
/* end of mobile sized media query*/

/* *Desktop Layout Area */

@media only screen and (min-width: 1201px) {
  main {
    min-height: 100vh;
    display: grid; 
    place-items: center;
  }
  .central-grid {
    width: 80%; 
    max-width: 1110px;
    max-height: 800px;
    /* padding-top: 60px; */

  }

  .desk {
    display: flex; 
    height: 55%;
    /* gap: 11.25%; */
    /* padding-top: 50px; */
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .star {
    width: 60%;
    /* outline: 1px solid green; */
    margin: 0;
    padding-top: 50px;
    flex-wrap: nowrap; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
  }

  .star > .starlight:nth-child(1) {
    margin-right: 150px;
  }

  .star > .starlight:nth-child(3) {
    margin-left: 150px;
  }

  .starlight {
    width: 4500px; 
    height: 56px;
    flex-direction: row;
  } 

  .starlight > .stars {
    margin-right: 12px;
    margin-bottom: 4px;
  }

  .starlight > .stars > span {
    margin-left: 3px;
    font-size: 15px;
  }
  /* ! fa-icons absorb the font
  ! size of the parent element.*/
  
  .description {
    width: 45%;
    padding-top: 50px;
  }

  .description > h2 {
    max-width: 320px;
    text-align: left !important; 
  }

  .description > p {
    text-align: left !important; 
    margin-left: 0 !important;
  }

  .personal {
    display: flex; 
    height: 45%;
    align-items: center;
    justify-content: center; 
    gap: 80px;
  }

  .personal > .box:nth-child(1) {
    margin-bottom: 40px;;
  }

  .personal > .box:nth-child(3) {
    margin-top: 40px;;
  }

}